.team {
  h1 {
    background: linear-gradient(-45deg, #892cdc, #19d3da, #e89a3e, #e89a3e);
    background-size: 300%;
    font-family: Sora;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: -3px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;
    text-align: center;
    margin: 5px;
    @media screen and (max-width: 1226px) {
      font-size: 40px;
    }
    @keyframes animated_text {
      0% {
        background-position: 0px 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0px 50%;
      }
    }
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .card {
      padding: 70px;
      margin: 10px;
      @media screen and (max-width: 1226px) {
        margin: 2px;
        padding: 20px;
      }
      /*img {
        max-width: 100%;
        height: auto;
        width: 150px;
        border-radius: 100px;
      }*/
      h3 {
        color: #581c87;
        text-align: center;
        margin: 0;
      }
    }
  }
}