.whitelist {
  h5 {
    text-align: center;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    span {
      background: linear-gradient(-45deg, #892cdc, #19d3da, #e89a3e, #e89a3e);
      background-size: 300%;
      font-family: Sora;
      font-weight: 900;
      letter-spacing: -3px;
      text-transform: uppercase;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: styles_animated_text__um6Z0 10s ease-in-out infinite;
      -moz-animation: styles_animated_text__um6Z0 10s ease-in-out infinite;
      -webkit-animation: styles_animated_text__um6Z0 10s ease-in-out infinite;
      text-align: center;
      margin: 5px;
      font-size: 50px;
      font-weight: bold;
    }
  }
  form {
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: 0;

    input {
      width: 400px;
      padding: 15px;
      outline: none;
      background-color: transparent;
      border: 0;
      border: 2px solid #1363df;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    button {
      background-color: #1363df;
      border: 0;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  p {
    color: #fff;
    text-align: center;
    font-weight: 300;
  }
}